<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table border="2" style="width:300px">
    <thead>
    <tr>
        <th>Model</th>
        <th>Year</th>
        <th>Series</th>
    </tr>
    </thead>
    <tbody th:each="cars : ${carList}">
    <tr>
        <td th:text="${cars.model}"></td>
        <td th:text="${cars.year}"></td>
        <td th:text="${cars.series}"></td>
    </tr>
    </tbody>
</table>
<br>
<br>

</body>
</html>